{% extends "base.html" %}

{% block title %}
Ranadev Electronic Store
{% endblock %}

{% block body %}

      <div class="row" id="productCard">
      {% for i in range(productsLen) %}
          <div class="col-sm">
              <div class="card text-center">
                  <div class="card-body">
                    <form action="/buy/" methods="POST">
                      <img src="/static/images/{{products[i]["image"]}}" class="products" alt="" />
                      <h5 class="card-title">{{products[i]["team"]}}</h5>
                      {% if products[i]["onSale"] %}
                        <img src="/static/images/sale-icon.png" width="26px" />
                        <h4 class="card-text price" style="color:red; display:inline">{{ '{:,.2f}'.format(products[i]["onSalePrice"]) }}</h4>
                      {% else %}
                        <h4 class="card-text price">{{ '{:,.2f}'.format(products[i]["price"]) }}</h4>
                      {% endif %}
                      <div class="stepper-input">
                          <span class="decrement target">-</span>
                          <input style="width:20px!important" class="quantity" name="quantity" value='0' />
                          <span class="increment target">+</span>
                      </div>
                      <input type="hidden" name="id" value="{{products[i]["id"]}}" />
                      {% if not session %}
                      <input type="hidden" name="loggedin" value="0" />
                      {% else %}
                      <input type="hidden" name="loggedin" value="1" />
                      {% endif %}
                      <input type="submit" class="btn btn-primary addToCart" value="Add To Cart" style="margin-top: 20px;"/><br /><br />
                      <div class="alert alert-danger flashMessage" style="text-align: center; display:none; font-size:0.9em;"></div>
                    </form>
                  </div>
              </div>
          </div>
      {% endfor %}
      </div>
    </div>
  </main>

{% endblock %}
